body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: 1.2em "Fira Sans", sans-serif;
}

.mainContainer {
  margin-left: 35px;
}

.mainContainerMobile {
  margin-left: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text{
  text-align: center;
  width: 450px;
}

.baseContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 800px;
}

.baseContainerMobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
}

.input {
  height: 30px;
}

.btn {
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btnMobile {
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
}